/* .footer{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:50px;
    background-color:black;
    text-align:center;
    color: white;
    padding:10px 0;
} */
 html, body, #root {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1; /* this pushes footer to the bottom */
}

.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 0;
}
